:root {
    --primary-font-color: #000000ff;
    --secundary-color: #45503B;
    --primary-color: #d8a45f;
    --backgroud: #F7F7FF;
    --secundary-font-color: #ffffffff;
    --select-menu-color: #1098f7ff;
    --hover: #FFD166;
    --font-size-titulo-exercicio: 0.8rem;
    --font-size-titulo-enunciado: 1rem;
    --size : 1rem;
    
}